@import 'tailwindcss';

body {
  @apply m-0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  touch-action: manipulation;

  --primary-color: #e3ab2f;
  --secondary-color: #925c1a;
  --dark-color: #321e0a;
  --alternative-color: #4c4323
  /*
#e3ab2f
#925c1a
#321e0a
#656134
#653f0f
#99886f
#a99878
#4c4323
#63523c
#ba4414
  */
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
